<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<appSettings>
		<add key="NumeFisier" value="Jucator.txt"/>
		<add key="NumeFisier2" value="Antrenament.txt"/>
		<add key="NumeFisier3" value="Prezente.txt"/>
	</appSettings>
</configuration>